@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.admin-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
 }

body {
  font-family: 'Roboto', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card-padding{
  padding: 20px 25px 30px;
}

.card {
  background-color: #f7f7f7;  
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .d-md-table-header-group {
    display: table-header-group !important;
  }
}
.react-bootstrap-table table {
  table-layout: auto;
}
.table-column{
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
 footer {
  position: relative;
  bottom: 0;
  width: 100%;
  
 }
 .table-col{
   min-width: 137px;
 }

 /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

@media (min-width: 1200px) {
  .container{
      max-width: 1170px;
  }
}
.link_danger {color: #f00;}
.link_danger:hover {color: #f00;text-decoration: none;}
.link_success {color: rgb(12, 134, 42);}
.link_success:hover {color: rgb(12, 134, 42);text-decoration: none;}
.link_info {color: rgb(26, 115, 232);}
.link_info:hover {color: rgb(9, 101, 187);text-decoration: none;}


td{
  white-space: nowrap;
  text-overflow: hidden;
  overflow: hidden;
  max-width: 200px;
}

.img-wrap {
  position: relative;
  float:left;
  }
  
   .img-wrap #clear {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  
  }
  
   .hide{
    display:none;
   }

   /* _border-width-customs.scss */
   .border-1{
    border-style:solid;
     border-width: 1px;
    }
.border-2{
border-style:solid;
border-width: 2px;
}
.border-3{
border-width: 3px;
}
.border-4{
border-width: 4px;
}
.border-5{
border-style:solid;
  border-width: 5px;
}
.border-10{
border-style:solid;
  border-width: 10px;
}
.brand{
  max-height: 30px;
  
}


 